[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git

[submodule "themes/aboutme"]
	path = themes/aboutme 
	url = https://github.com/gcushen/hugo-academic.git